@media (max-width: 767px) {
    html {
        overflow-x: hidden;
    }

    .container {

        width: 100%;
        padding: 0 23px;
    }

    /* Header */
    .intro {
        padding-top: 100px;
        padding-bottom: 140px;
    }

    nav {
        padding: unset;
    }

    .nav {
        padding-top: 24px;
        margin-bottom: 30px;
    }

    .nav__menu {
        display: none;
    }

    .nav__menu--mobile {
        display: block;
    }

    .menu__list {
        height: 100vh;
        padding-top: 20px;
    }

    .menu__list span {
        border-radius: 5px;
        display: block;
        padding: 15px 20px;

    }

    /* Introduce */
    .introduce {
        display: block;
        margin-top: 10px;
    }

    .introduce:last-child {
        width: 100% !important;
    }

    .introduce__content {
        width: 100%;
    }

    .introduce__title {
        width: 97%;
        font-family: Inknut Antiqua;
        font-size: 40px;
        font-weight: 900;
        line-height: 48px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 39px;
    }

    .introduce__description {
        width: 212px;
        margin-top: 3px;
    }

    .introduce__img {
        position: relative;
        max-width: 100%;
    }

    .introduce__img--main,
    .introduce__img--main.main2 {
        max-width: 329px;
        width: 100%;
        height: 360px;
        top: 0;
        left: 0;
    }

    .introduce__imgdes {
        padding-bottom: 108px;
    }

    .introduce__img--doc {
        position: absolute;
        top: -112px;
        left: 157px;
        width: auto;
    }

    /* Advantage */
    .page-direction1 {
        margin-top: 276px;
    }

    .line--black {
        margin: 64px auto 97px;
    }

    .advantage {
        display: block;
        width: 100%;
        padding-bottom: 112px;
    }

    .advantage__img {
        width: 100%;
        height: auto;
    }

    .advantage__img--girl {
        width: 100%;
    }

    .advantage__youtube {
        width: 100%;
        padding: 23px;
    }

    .play--img {
        top: 30%;
        left: 30%;
    }

    .advantage__content {
        margin-top: 99px;
        width: 100%;
    }

    .advantage__title h1 {
        font-size: 40px;
        font-weight: 900;
        line-height: 48px;
    }

    .advantage__slogan {
        margin-top: 36px;
        font-size: 15px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 3px;
        text-align: left;
    }

    .advantage__description {
        width: 100%;
        margin: 32px 0 37px;
    }

    .advantage__button--default {
        margin-left: 33px;
    }

    /* Feature */
    .feature {
        padding-top: 87px;
    }

    .feature__header {
        display: block;
    }

    .feature__title {
        max-width: 100%;
    }

    .feature__title h1 {
        font-family: Inknut Antiqua;
        font-size: 40px;
    }

    .feature__description {
        max-width: 100%;
        margin-top: 52px;
    }

    .feature__content {
        padding-top: 80px;
    }

    .feature__content--left,
    .feature__content--right {
        padding: 48px;
    }

    /* Project */
    .project {
        padding-top: 85px;
        padding-bottom: 112px;
    }

    .project__header {
        display: block;
    }

    .project__title h1 {
        font-size: 40px;
        line-height: 48px;
    }

    .project__description {
        max-width: 100%;
        padding-top: 36px;
    }

    .line--black2 {
        margin: 49px auto 50px
    }

    .project__body {
        display: block;
    }

    .project__navbar {
        display: none;
    }

    .project__select {
        display: block;
        margin-bottom: 64px;
    }

    .project__select p {
        margin-bottom: 18px;
    }

    .project__select select {
        width: 100%;
        padding: 8px 16px;
        z-index: 3;
    }

    .project__content {
        max-width: 100%;
        max-height: 320px;
        margin: 0 0 26px 0;
    }

    .project__content--left {
        margin-top: 154px;
        z-index: 2;
        padding-left: 28px;
    }

    .project__content__img img {
        width: 274px;
        height: 342px;
        right: 0;
        left: unset;
    }

    .project__button {
        margin: 70px 0 0 0;
        padding-bottom: unset;
    }

    /* Client */
    .client:first-child {
        display: block;
        padding: 103px 23px 197px 23px;
    }

    .client2 {
        max-height: 200px;
        padding-bottom: 500px;
        position: relative;
    }

    .client__header {
        width: 100%;
        padding-top: unset;
    }

    .client__title h1 {
        font-size: 38px;
        font-weight: 900;
        line-height: 48px;
    }

    .client__content {
        width: 200%;
        top: -150px;
        left: 0px;
    }

    .client__description {
        margin-top: 36px;
        margin-bottom: 22px;
    }

    .client__block {
        max-height: unset;
        margin-left: unset;
        width: calc(100vw - 45px) !important;
    }

    .client__ava {
        width: 80px;
        height: 80px;
        margin-bottom: unset;
    }

    .client__info {
        margin-left: 58px;
    }

    .client__comment {
        padding-top: 80px;
    }

    .page-direction2 {
        left: 150px;
        bottom: -129px;
        ;
        top: unset;

    }

    .img-direction {
        position: relative;
    }

    .arrow-right {
        left: 20px;
    }

    .line--black3 {
        margin: 194px auto 80px;
    }

    /* Logo */
    .logo {
        display: block;
    }

    .logo div {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
    }

    .logo div:nth-child(4) {
        margin-bottom: 25px;
    }

    .line--black4 {
        margin: 50px auto 85px;
    }

    /* Blog */
    .blog {
        padding-bottom: 117px;
    }

    .blog__header {
        display: block;
    }

    .blog__title {
        font-family: Inknut Antiqua;
        font-size: 36px;
        font-weight: 900;
        line-height: 48px;
        letter-spacing: 0px;
        text-align: left;
    }

    .blog__description {
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        margin: 52px 0 0 0;
    }

    .blog__body {
        display: block;
    }

    .blog__content:nth-child(2) {
        margin: 69px 0;
    }

    .blog__content img {
        width: 100%;
    }

    /* Footer */
    .footer {
        padding-top: 103px;
    }

    .footer__header {
        display: block;
    }

    .footer__title {
        font-family: Inknut Antiqua;
        font-size: 40px;
        font-weight: 900;
        line-height: 48px;
        letter-spacing: 0px;
        text-align: left;
    }

    .line--white {
        display: none;
    }

    .footer__form {
        margin-top: 73px;
        margin-bottom: 120px;
    }

    .footer__info {
        display: block;
    }

    .footer__copyright {
        margin-bottom: 80px;
    }

    .footer__address,
    .footer__menu {
        margin: unset;
        margin-bottom: 80px;
    }

    .footer__icon {
        margin: unset;
    }

    /* Owl Slider */
    /* .owl-theme .owl-dots .owl-dot:nth-child(n+5) {
        display: none !important;
    } */

    .intro>.carousel__viewport {
        width: calc(100vw) !important
    }

    #myBtn {
        bottom: 30px;
        right: 10%;
        opacity: 1;
    }

    .intro>.carousel__viewport>.carousel__track>.carousel__slide {
        display: block;
    }

    .feature__content>.carousel__viewport>.carousel__track>.carousel__slide {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 768px) {
    .intro>.carousel__viewport>.carousel__track>.carousel__slide {
        margin-right: 30px !important;
    }
    .advantage__title h1 {
        font-style: 46px;
    }
    .advantage__description {
        width: 375px;
    }
}

@media (min-width: 768px) and (max-width:1024px) {
    nav {
        padding: 0 15px;
        width: 100vw;
    }

    .container {
        padding: 0 15px;
        max-width: 100%;
    }

    .advantage__img--girl {
        height: 90%;
    }

    .project__content {
        margin-left: auto;
        max-width: 100%;
    }

    .project__content__img img {
        width: 90%;
        height: 90%;
        left: 0;
        height: 105%;
    }

    .introduce.item:last-child {
        width: auto !important;
    }

    .introduce__img--main,
    .introduce__img--main.main2 {
        width: 50%;
        left: 50%;
    }

    .introduce__img--main img {
        width: 90% !important;
    }

    .client__content {
        left: 45vw;
    }

    .blog__body {
        grid-template-columns: calc(100% / 2) calc(100% / 2);

    }

    .blog__content {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    /* Slider */
    .intro>.carousel__viewport>.carousel__track>.carousel__slide {
        width: 100% !important;
        margin-right: 30px;
    }

    .intro>.carousel__viewport {
        width: calc(100vw - 46px) !important;
    }

    .feature__content>.carousel__viewport>.carousel__track>.carousel__slide {
        width: 100% !important;
        margin-right: unset !important;
    }

    .client__content>.carousel__viewport>.carousel__track>.carousel__slide {
        display: block;
    }

}

@media (min-width: 1025px) {
    .feature__content>.carousel__viewport>.carousel__track>.carousel__slide {
        display: block;
        text-align: left;
        width: 570px !important;
        margin-right: 15px;
    }
}